*{
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif
}
body{
    margin: 0px;
    /* background-color: #fcf9f7; */
    background-color: #ffffff;
}
.container{
    width: 100%;
}
.header__menu{
    width: 100%;
    height: 60px;
}
.header__menu .wrap__menu{
    width: 100%;
    padding: 10px 130px;
    display: flex;
}
.header__menu .wrap__menu .item__header{
    width: 100%;
}
.menu_left{
    width: 100%;
    display: flex;
    align-content: center;
}
.menu_left > a{
    text-decoration: none;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #696666;
    font-size: 15px;
    font-weight: 500;
}
.align-center{
    display: flex;
    justify-content: center;
}
.control_right{
    display: flex;
    justify-content: flex-end;
}
.control_right .btn__input{
    height: 100%;
    position: relative;
}
.control_right .btn__input i{
    position: absolute;
    left: 10px;
    top:10px;
    font-size: 14px;
    color: #c2c0c0;
}
.control_right .btn__input input{
    width: 200px;
    height: 35px;
    padding-left: 30px;
    outline: none;
    background: none;
    border:1px solid #c2c0c0;
    font-size: 15px;
    border-radius: 5px;
}
.control_right .btn__input input::placeholder{
    color: #dbd9d9;
    font-weight: 500;
}
.slide__show {
    width: 100%;
    position: relative;
}
.slide__show img{
    width: 100%;
}
.slide__show .box_context{
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
}
.slide__show .box_context > div{
    width: 600px;
    padding-left:130px;
}

.slide__show .box_context .heading_size{
    font-size: 55px;
    color: #323842;
    font-weight: 700;
}
.slide__show .box_context .text__size{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #323842;
}




.body__content{
    width: 100%;
    padding: 50px 130px;
    display: flex;
}
.body__content > div{
    width: 100%;
}
.body__content .select__top-product{
    width: 100%;
    display: flex;
    justify-content: left;
}
.body__content .select__top-product .item__btn-select{
    width: 100%;
    padding:15px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    color: #459D7A;
    position: relative;
    cursor: pointer;
}
.body__content .select__top-product .item__btn-select::before{
    content: '';
    width: 1px ;
    height: 25px;
    background-color: #afddcb;
    position: absolute;
    left: 0px;
}
.body__content .select__top-product .item__btn-select:nth-child(1){
    background-color: #459D7A;
    color: #ffffff;
}


.body__content .sort_by{
    display: flex;
    justify-content: flex-end;
}

.sort_by .btn_search__line{
    height: 100%;
    position: relative;
}
.sort_by .btn_search__line i{
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: 15px;
    color: #9c9a9a;
    font-size: 17px;
}
.sort_by .btn_search__line input{
    width:240px;
    height: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #c2c0c0;
    padding-left: 40px;
    outline: none;
}
.sort_by .btn_search__line input::placeholder{
    color: #dedbdb;
    font-size: 22px;
}
.sort_by .btn_search__line input:focus{
    border-bottom: 2px solid #818080;
}


.sort_by .btn__sort_by{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #666666;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
.sort_by .btn__sort_by i{
    margin-left: 15px;
}


.result_product{
    width: 100%;
    padding: 30px 130px;
}
.result_product .wrap__show-products{
    width: 100%;
    /* display: flex;
    justify-content:space-between; */
    text-align: center;
}
.result_product .wrap__show-products .item_product{
    width: 230px;
    margin: 0px 15px;
    margin-bottom: 35px;
    display: inline-block;
    transition: all 0.4s;
}
.result_product .wrap__show-products .item_product:hover{
    transform: translateY(-10px);
}
.item_product .line_firts{
    width: 100%;
    position: relative;
}
.item_product .line_firts img{
    width: 100%;
    cursor: pointer;
}
.item_product .best__seller-top-right{
    background-color: #FFC970;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #434343;
    font-weight: 500;
    border-radius: 20px;
}
.item_product .product__title--line{
    font-size: 23px;
    font-weight: 600;
}
.item_product .product__preview{
    font-size: 19px;
    margin: 5px 0px;
    color: #6a6a6a;
}
.item_product .product__price{
    width: 100%;
    display: flex;
    margin: 20px 0px;
    padding: 5px 0px;
}

.item_product .product__price .price__size-s{
    width: 100%;
    font-size: 34px;
    font-weight: 700;
}
.item_product .product__price .price__size-s .price__size-m{
    font-size: 19px;
    font-weight: 300;
    color: #8b8b8b;
}

.item_product .product__price img{
    cursor: pointer;
}


.slick__dots-list{
    width: 100%;
    display: flex;
    justify-content: center;
}
.slick__dots-list .line__rows{
    display: flex;
}
.slick__dots-list .line__rows > div{
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #aaaaaa;
}
.slick__dots-list .line__rows > div:nth-child(3){
    background-color: #F4FAF8;
    color: #459D7A;
}





.footer_bottom{
    width: 100%;
    background-color: #1D2128;
    color: #dddddd;
}
.footer_bottom .padding__footer{
    padding: 100px 130px;
    display: flex;
}
.padding__footer .information_us {
    width: 100%;
    display: flex;
}

.padding__footer .information_us > div {
    width: 100%;
    margin-right: 20px;
}
.padding__footer .information_us > div > a{
    display: block;
    margin: 15px 0px;
    text-decoration: none;
    color: #dddddd;

}
.heading__us{
    font-size: 28px;
    font-weight:600;
}
.contact_info > div:not(:nth-child(1)){
    margin: 15px 0px;
}


.padding__footer .contact__us{
    width: 100%;
    padding-left: 200px;
}
.padding__footer .contact__us > div:not(:nth-child(1)){
    margin: 20px 0px;
}
.padding__footer .input__send-us{
    width: 430px;
    height: 50px;
    position: relative;
}
.padding__footer .input__send-us input{
    width: 100%;
    height: 50px;
    background: none;
    border: 1px solid #dddddd;
    color: #dddddd;
    border-radius: 10px;
    font-size: 19px;
    padding-left: 50px;
    outline: none;
}
.padding__footer .input__send-us > i{
    position: absolute;
    top: 15px;
    font-size: 23px;
    left: 15px;
}
.padding__footer .input__send-us .handle__send--input{
    height: 100%;
    padding: 0px 25px;
    position: absolute;
    border: none;
    border-radius: 0px 10px 10px 0px;
    right: 0px;
    top:0px;
    font-size: 20px;
    background-color: #459D7A;
    color: #dddddd;
}